/* pages/About.module.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heroImage {
  background-image: url('/aboutsplash.jpg'); 
  background-size: cover;
  background-position: center;
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
}

.hero, .mission, .history, .testimonials {
  margin-bottom: 40px;
}

.h1 {
  color: black; 
  padding: 0 0;
  font-size: 28px; 

}

.h2 {
  color: #004080;
}

.testimonial {
  background-color: #f0f0f0; 
  border-left: 5px solid #003366; 
  margin: 20px 0;
  padding: 20px;
}

@media (max-width: 768px) {
  .heroImage {
    height: 200px;
  }

  .h1{
    font-size: 28px; 
  } 
  .h2 {
    font-size: 24px; 
  }

  .container {
    padding: 10px;
  }

  .testimonial {
    font-size: 14px; /* Smaller font size for testimonials on mobile */
  }
}
